In [2]:
import numpy as np
import sys
#update the path to include the hw_data directory
path = "/Users/tinaryu/stat_gen/hw_data"

sys.path.append(path) 
#sys.path is a list of directories that Python searches when you use import statement
#append then adds the hw_data to the directories to be searched
from CB_02704 import *

What is the number of SNPs per chromosome?

In [3]:
df = read_snp_pop('HapMap3')

In [4]:
snpnum = df.groupby('chromosome').size()
snpcount = pd.DataFrame(snpnum, columns=['SNP count'])
snpcount.to_csv('snp_count.csv')

In [5]:
snpcount

            SNP count
chromosome
1               55983
2               58409
3               48655
4               43809
5               45045
6               46016
7               38578
8               38291
9               32252
10              36847
11              36514
12              33528
13              26595
14              22956
15              21459
16              22191
17              19210
18              21196
19              13472
20              18359
21              10281
22               9447
23              19755

In [9]:
#how many SNPs in autosomal chromsoomes?
snpcount['SNP count'][:22].sum()
#699,093

699093

How many samples are there in each population?

In [4]:
inds = read_ind_pop('HapMap3')

In [8]:
inds

        sex  pop
NA19916   M  ASW
NA19835   F  ASW
NA20282   F  ASW
NA19703   M  ASW
NA19901   F  ASW
...      ..  ...
NA19140   F  YRI
NA18859   M  YRI
NA19119   M  YRI
NA19207   M  YRI
NA19099   F  YRI

[988 rows x 2 columns]

In [9]:
path = "../hapmap_pop_info.csv"
pop_info = pd.read_csv(path)
pop_info

   label                                  population sample  number of samples
0    ASW                  African ancestry in Southwest USA                 90
1    CEU  Utah residents with Northern and Western Europ...                180
2    CHB                      Han Chinese in Beijing, China                 90
3    CHD           Chinese in Metropolitan Denver, Colorado                100
4    GIH                 Gujarati Indians in Houston, Texas                100
5    JPT                           Japanese in Tokyo, Japan                 91
6    LWK                             Luhya in Webuye, Kenya                100
7    MEX        Mexican ancestry in Los Angeles, California                 90
8    MKK                           Maasai in Kinyawa, Kenya                180
9    TSI                                   Toscans in Italy                100
10   YRI                          Yoruba in Ibadan, Nigeria                180

In [ ]:
pop_info['actual sample size'] = inds.groupby('pop').size().tolist()
pop_info.drop(columns=['number of samples'], inplace=True)
pop_info.to_csv('pop_info.csv',index=False)

In [11]:
inds.groupby('pop').size()

pop
ASW     49
CEU    112
CHB     84
CHD     85
GIH     88
JPT     86
LWK     90
MEX     50
MKK    143
TSI     88
YRI    113
dtype: int64

In [7]:
pop_info

,label,population sample,actual sample size
0,ASW,African ancestry in Southwest USA,49
1,CEU,Utah residents with Northern and Western Europ...,112
2,CHB,"Han Chinese in Beijing, China",84
3,CHD,"Chinese in Metropolitan Denver, Colorado",85
4,GIH,"Gujarati Indians in Houston, Texas",88
5,JPT,"Japanese in Tokyo, Japan",86
6,LWK,"Luhya in Webuye, Kenya",90
7,MEX,"Mexican ancestry in Los Angeles, California",50
8,MKK,"Maasai in Kinyawa, Kenya",143
9,TSI,Toscans in Italy,88
10,YRI,"Yoruba in Ibadan, Nigeria",113