In [1]:
import numpy as np
import sys
#update the path to include the hw_data directory
path = "/Users/tinaryu/stat_gen/hw_data"

sys.path.append(path) 
#sys.path is a list of directories that Python searches when you use import statement
#append then adds the hw_data to the directories to be searched
from CB_02704 import *

What is the number of SNPs per chromosome?

In [2]:
df = read_snp_pop('HapMap3')

In [13]:
snpnum = df.groupby('chromosome').size()
pd.DataFrame(snpnum, columns=['SNP count'])

            SNP count
chromosome
1               55983
2               58409
3               48655
4               43809
5               45045
6               46016
7               38578
8               38291
9               32252
10              36847
11              36514
12              33528
13              26595
14              22956
15              21459
16              22191
17              19210
18              21196
19              13472
20              18359
21              10281
22               9447
23              19755

How many samples are there in each population?

In [15]:
path = "../hapmap_pop_info.csv"
pd.read_csv(path)

   label                                  population sample  number of samples
0    ASW                  African ancestry in Southwest USA                 90
1    CEU  Utah residents with Northern and Western Europ...                180
2    CHB                      Han Chinese in Beijing, China                 90
3    CHD           Chinese in Metropolitan Denver, Colorado                100
4    GIH                 Gujarati Indians in Houston, Texas                100
5    JPT                           Japanese in Tokyo, Japan                 91
6    LWK                             Luhya in Webuye, Kenya                100
7    MEX        Mexican ancestry in Los Angeles, California                 90
8    MKK                           Maasai in Kinyawa, Kenya                180
9    TSI                                   Toscans in Italy                100
10   YRI                          Yoruba in Ibadan, Nigeria                180